/* контейнер просто содержит узлы.
 Узел сам будет отвечать за свой отступ */
.Container {
        padding: 0;
        margin: 0;
}

.Container li {
        list-style-type: none; /* убрать кружочки/точечки */
}
/* узел отодвинут от левой стенки контейнера на 18px
    благодаря этим отступам вложенные узлы формируют иерархию
 */
.Node {
    margin-left: 18px;
    zoom: 1;
    /* линия слева образуется повторяющимся фоновым рисунком */
    background-image : url(/images/tree/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
}

.Node .DeviceType a{
    /*margin-left: 18px;*/
}

/* это правило - ниже .Node, поэтому имеет больший приоритет */
.IsLast {
    /* добавить соединительную черточку наверх */
    background-image: url(/images/tree/i_half.gif);
    background-repeat : no-repeat;
}

.IsFirst {
    /* добавить соединительную черточку наверх */
    /*background-image: url(/images/tree/d_half.gif);
    background-repeat : no-repeat;*/
}

/* Корневой узел от родительского контейнера не отодвинут. 
   Ему же не надо демонстрировать отступом, чей он сын.
   Это правило идет после .Node, поэтому имеет более высокий приоритет 
   Так что class="Node IsRoot" дает margin-left:0
*/ 
.IsRoot {
    margin-left: 0;
}
/* иконка скрытого/раскрытого поддерева или листа
    сами иконки идут дальше, здесь общие свойства
 */
.Expand {
    width: 18px;
    height: 18px;
    /* принцип двухколоночной верстки. */
    /* float:left и width дива Expand + margin-left дива Content */
    float: left; 
}

/* содержание (заголовок) узла */
 .Content {
    /* чтобы не налезать на Expand */
    margin-left:18px;
    /* высота заголовка - как минимум равна Expand 
        Т.е правая колонка всегда выше или равна левой.
        Иначе нижний float будет пытаться разместиться на получившейся ступеньке
    */    
    min-height: 18px; 
}

 /* все правила после * html выполняет только IE6 */
* html .Content {
    height: 18px; /* аналог min-height для IE6 */
}
/* открытое поддерево */
.ExpandOpen .Expand {  
    background-image: url(/images/tree/minus.gif);  
}

/* закрытое поддерево */
.ExpandClosed .Expand {
    background-image: url(/images/tree/plus.gif);
}

/* лист */
.ExpandLeaf .Expand {
    background-image: url(/images/tree/leaf.gif);
}
.ExpandOpen .Container {
    display: block;
}

.ExpandClosed .Container {
    display: none;
}
.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer; /* иконки скрытия-раскрытия */
}

.ExpandLeaf .Expand {
    cursor: auto; /* листовой узел */
}
.ExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(images/tree/loading.gif);
}
/* Общий размер 14+2+2 = 18 - такой же как Expand */
.Node input {
    width: 14px;
    height: 14px;
    float: left; 
    margin: 2px;
}
/* подвинем за оба float'а Node, Content */
.Node, .Content {
    margin-left: 36px;
}
/* заново переопределим .IsRoot */
.IsRoot { margin-left: 0; }

#loader {
  position:fixed; 
  display:none;
  top:50%; 
  left:0;
  height:100%; 
  width:50%;
  /*background:#ccc; */
  opacity:.9;
}

#loader span {
  display:block; 
  position:absolute; 
  right:4px; 
  top:4px;
  color:#fff; 
  background:#CCC;
  padding:5px 10px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px; 
  cursor:default;
}

/*tree menu styles*/
.tree-menu {
    display: block;
    position: absolute;
    border: 1px solid #333;
    visibility: hidden;
    background-color: #c3d9ff;
    -moz-box-shadow: -5px 2px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: -5px 2px 10px rgba(0,0,0,0.5);
    box-shadow: -5px 2px 10px rgba(0,0,0,0.5);
}
.tree-menu-add, .tree-menu-edit, .tree-menu-delete{
    visibility: hidden;
}
.tree-menu ul li {
    list-style-type: none;
}

.tree-menu ul li a:hover {
    color: #eee;
}

.show {
    visibility: visible;
}

.tree-menu-button a {
    display: block;
}
div[class^="tree-menu-button"] a{
    display: block;
    margin-left: 18px;
    float: left;
    position: absolute;
    height: 15px;
    width: 15px;
    border: 1px solid #7c9cff;
    background-color: #4F81BD;
}
